* {
	box-sizing: border-box;
	position: relative;
	font-family: 'Calibri', sans-serif;
}

@media only screen and (max-device-width: 480px) {

	.wrapper {
		margin: 0 auto 0 auto;
		position: relative;
		height: 750px;
		width: 100%;
		max-width: 380px;
	}


}

body {
	background-image: url(../img/galway_background.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment: fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;

}

ul{
  width:100%;
  margin-bottom:20px;

}

/* Divides list items into three columns*/
li{
  width: 33%;
  float:left;
  display:inline;
}

#search-title {
	font-family: 'Uncial Antiqua', cursive;
}
/* Adjusts API in response to changing device dimensions*/
.responsive-image {
	padding: 10px;
	width: 100%;
	height: auto;
}

/* Provides parent container for overlay div and specifies height and width for Google Map API*/
.wrapper {
	margin: 0 auto 0 auto;
	position: relative;
	height: 750px;
	width: 100%;
	max-width: 45em;
}



/* Uses absolute positioning and z-indexing to overlap pub list over Google map*/
.overlay {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 99;
	color: #fff;
	background-color: #800;
	padding-bottom: 10px;
	border-bottom: 5px solid #000080;
}

div.title-block {
	margin: 0 auto 0 auto;
}

li {
	padding-top: 10px;
	padding-bottom: 10px;
}

li:hover {
	background-color: #000080;
}
/* To draw user's attention to a failed search term */
h3 {
	background-color: #ffcc00;
	color: black;
}

button {

	width: 60px;
	height: 25px;
    border-style: none;
    border-width: 2px;
    /*padding-bottom: 0.5em;*/
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    margin: 0 auto;
}

button#search {
	background-color: #ffcc00;
}

button#clear {
	background-color: #000080;
	color: #ffffff;
}

#map {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}